<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <title>Grocery Bag</title>
  </head>
  <body>
    {% csrf_token %}
    <div class="row justify-content-center mt-5">
      <div class="col-md-7 text-center">
        <h1>Grocery Bag</h1>
        <br />
        <br />
        <br />
        <a
          role="button"
          class="btn btn-primary btn-lg"
          href="{% url 'loginpage' %}"
          >Start</a
        >
      </div>
    </div>
  </body>
</html>
